= form_for @customer do |f|
  .control-group
    = f.label "Company Name", :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :billing_number, :class => 'control-label'
    .controls
      = f.text_field :billing_number, :class => 'text_field', :type => 'number'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field', :type => 'email'
  .control-group
    = f.label :person_name, :class => 'control-label'
    .controls
      = f.text_field :person_name, :class => 'text_field'
  .control-group
    = f.label :phone_no, :class => 'control-label'
    .controls
      = f.text_field :phone_no, :class => 'text_field', :type => 'tel'
  .control-group
    = f.label :zipcode, :class => 'control-label'
    .controls
      = f.text_field :zipcode, :class => 'text_field'
  .control-group
    = f.label :city, :class => 'control-label'
    .controls
      = f.text_field :city, :class => 'text_field'
  .control-group
    = f.label :address, :class => 'control-label'
    .controls
      = f.text_field :address, :class => 'text_field'
  .control-group
    = f.label :hourly_rate, :class => 'control-label'
    .controls
      = f.text_field :hourly_rate, :class => 'text_field'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      customers_path, :class => 'btn'                              |
