- model_class = Customer
%table.table.table-striped
  %thead
    %tr
      %th= sortable "billing_number"
      %th= sortable "name"
      %th Billing Items
      %th Actions
  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.billing_number
        %td= link_to customer.name, customer_path(customer)
        %td= customer.working_times.size
        %td
          = edit_button(customer, 'btn-mini') if can? :edit, customer
          -#
          = delete_button(customer, 'btn-mini') if can? :delete, customer
%br
= will_paginate @customers
