- model_class = Customer
.page-header
  %h1
    = t '.title', :default => @customer.name

%dl.dl-horizontal
  %dt
    %strong
      = "Name"
      \:
  %dd= @customer.name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn'
  -#
  = edit_button(@customer)
  -#
  = delete_button(@customer)
