- model_class = WorkingTime
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th= sortable "from"
      %th= sortable "to"
      %th Working Time (Minutes)
      %th Actions
  %tbody
    - @working_times.each do |working_time|
      %tr
        %td= link_to working_time.title, working_time_path(working_time)
        %td= working_time.from
        %td= working_time.to
        %td= working_time.duration
        %td
          = edit_button(working_time, 'btn-mini') if can? :edit, working_time
          -#
          = delete_button(working_time, 'btn-mini') if can? :delete, working_time
%br
= will_paginate @working_times

.form-actions
  = link_to "Add #{model_class.model_name.human}", |
    new_working_time_path,                                  |
    :class => 'btn btn-primary'                             |
